<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<body>
<div>
    <form method="post">
        <input type="text" placeholder="Tytuł" class="input-field" th:field="*{book.title}" id="title">
        <input type="text" placeholder="Autor" class="input-field" th:field="*{book.author}" id="author">
        <input type="text" placeholder="Cena" class="input-field" th:field="*{book.price}" id="price">
        <input type="text" placeholder="Ilość" class="input-field" th:field="*{book.quantity}" id="quantity">
        <input type="text" placeholder="Image" class="input-field" th:field="*{book.image}" id="image">
        <input type="submit" value="Dodaj">
    </form>
</div>
</body>
</html>
