<head th:fragment="header" xmlns:th="http://www.w3.org/1999/xhtml">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Księgarnia</title>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.3.3/css/bootstrap.min.css" rel="stylesheet">
    <footer th:fragment="footer">
        <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.3.3/js/bootstrap.bundle.min.js"></script>
    </footer>


<!--    <nav class="navbar navbar-expand-lg navbar-light bg-light" th:fragment="navbar">-->
<!--        <div class="container">-->
<!--            <a class="navbar-brand" href="#">-->
<!--                <img src="https://images.rawpixel.com/image_png_800/cHJpdmF0ZS9sci9pbWFnZXMvd2Vic2l0ZS8yMDIyLTA5L2pvYjk2MC0xMzgtcC5wbmc.png" alt="Księgarnia" width="60" height="48" class="d-inline-block align-text-top">-->
<!--            </a>-->
<!--        </div>-->
<!--        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav"-->
<!--                aria-expanded="false" aria-label="Toggle navigation">-->
<!--            <span class="navbar-toggler-icon"></span>-->
<!--        </button>-->
<!--        <div class="collapse navbar-collapse" id="navbarNav">-->
<!--            <ul class="navbar-nav">-->
<!--                <li class="nav-item">-->
<!--                    <a class="nav-link" href="/home">Strona główna</a>-->
<!--                </li>-->
<!--                <li class="nav-item">-->
<!--                    <a class="nav-link" href="/cart">Koszyk</a>-->
<!--                </li>-->
<!--                <li class="nav-item">-->
<!--                    <a class="nav-link" href="/login">Wyloguj</a>-->
<!--                </li>-->
<!--            </ul>-->
<!--        </div>-->
<!--    </nav>-->


    <nav class="navbar navbar-expand-lg navbar-light bg-light" th:fragment="navbar">
        <div class="container-fluid">
<!--            <div class="container">-->
                <a class="navbar-brand" href="#">
                    <img src="https://images.rawpixel.com/image_png_800/cHJpdmF0ZS9sci9pbWFnZXMvd2Vic2l0ZS8yMDIyLTA5L2pvYjk2MC0xMzgtcC5wbmc.png" alt="Księgarnia" width="45" height="36" class="d-inline-block align-text-top">
                </a>
<!--            </div>-->
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarText">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">

                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="/home">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/cart">Cart</a>
                    </li>
                </ul>


                <span class="nav-item">
                            <form th:action="@{/logout}" method="post">
                <button class="btn btn-dark" type="submit">Log out</button>
                </form>
                    </span>

            </div>
        </div>
    </nav>


</head>
