<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Login</title>
</head>
<div th:replace="layout :: header"></div>
<body>
<h1>Logowanie</h1>
<div th:if="${errorMessage}" th:text="${errorMessage}"></div>
<div th:if="${logoutMessage}" th:text="${logoutMessage}"></div>
<div th:if="${message}" th:text="${message}"></div>
<form th:action="@{/login}" method="post">
    <div>
        <label for="username">Nazwa użytkownika:</label>
        <input type="text" id="username" name="username" required />
    </div>
    <div>
        <label for="password">Hasło:</label>
        <input type="password" id="password" name="password" required />
    </div>
    <div>
        <button type="submit">Zaloguj się</button>
    </div>
    <div>
        <a th:href="@{register}"> Zarejestruj się</a>
    </div>

</form>
</body>
</html>